@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      background-color: #f0f0f0;
      font-family: "Raleway", sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    