@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      background-color: #f0f0f0;
      font-family: "Raleway", sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .ps {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      opacity: 0;
      transform: translateX(20px);
      animation: fadeInLeft 1s ease-in-out forwards;
    }

    @keyframes fadeInLeft {
      from {
        opacity: 0;
        transform: translateX(-20px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }

    